
.mainbody{
    padding-left: 0;
    padding-right: 0;
}
.banner{
    background-image:url("../images/Brand.png");
    height:90px;
    background-size:cover;
    text-align: center;
    width:100%;
}


.navbar{
    background-color: #23b1a5;

}

.navbar-default .navbar-nav>li>a{
    color: white;
}

.navbar-default .navbar-nav>.active>a{
   color: white;
    background-color: #167c80;
}

#toggle-checkbox:checked~div{
    display: block !important;
}

#toggle-label{
    display:none;
    font-size: 2rem;
    color: #e57066 ;
}

.menufixed{
    margin-right: auto;
    position: fixed;
    width: 100%;
    /*top: 0;*/
    /*margin:auto;*/
    z-index: 10000;
    background-color: #167c80;
    transition-duration: 1s;
}

.menufixed .navbar-nav>li>a{
    color: white;
}

.menufixed .navbar-nav>.active>a{
    background-color: #23b1a5;
}

/*#nav{*/
    /*transition: all 2s;*/
/*}*/

#nav.affix {
     top: 70px;
    position: fixed;
     /*width: 262.5px;*/
     /*max-width: 100%;*/
 }

#nav.affix-bottom{
    position: absolute;
}

/*@media (min-width: 1200px) {*/
    /*.affix {*/
        /*width: 263px;*/
    /*}*/
/*}*/

#nav a{
    color: red;
}

.scrollTop{
    height: 172px;
    width: 100%;
    /*transition-duration: 2s;*/
}

.menuhover:hover ul{
    display: block;
}

.nav-stacked .active{
    background-color: #337ab7;
}

.nav-stacked .active>a{
    color: white;
}

/*.archor{*/
    /*padding-top: 60px;*/
    /*!*margin-top: -60px;*!*/
/*}*/
.promote-title{
    text-align: center;
    color: #ff0000;
    font-weight: 900;
    font-size: 20px;
}

.promote-body-title,
.research-abstract-body,
.research-content-body,
.CV-content,
.instrument-content{
    line-height: 1.6;
}

.promote-body-title,
.CV-content{
    text-indent: 2em;
}

img{
    max-width: 100%;
    border-radius: 5px;
}

.research-abstract-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
}

.research-content-title{
    margin-bottom: 8px;
}

.research-abstract-body,
.research-content-body{
    margin-bottom: 5px;
    text-indent: 2em;
}

#instrument-1{
    margin-top: 0px;
}

.research-abstract-img,
.research-content-img{
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.instrument-content-body,
.research-abstract-img,
.research-content-img{
    border-bottom: rgba(0,0,0,0.4)  solid;
}

.graduate-year{
    text-align: center;
    border-bottom: #737373 solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
.graduate-year:first-child{
    padding-top: 0px;
    margin-top: 0px;
}

.research-content-title{
    font-size: 20px;
    font-weight: bold;
}

.research-content-img，
.research-body-img{
    max-width: 100%;
    horiz-align: center;
}

.caption-name{
    text-align: center;
    word-break: keep-all;
}
.caption-contact{
    word-break: break-all;
}

/*.contact-container{*/
    /*text-align: center;*/
/*}*/

.contact-content{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.backTotop{
    text-align: center;
    margin-left: 70px;
}

.backTotop.affix{
    bottom:30px;
    position:fixed;
}

.backTotop.affix-bottom{
    position: absolute;
}

.footer{
    margin-top: 80px;
    padding-top: 1.5rem;
    background-color: #167c80;
    color: white;
}
.footer-information .row .footer-title:nth-child(3){

}
.footer-title p{
    margin-left: 23px;
    font-size: 24px;
    font-weight: 800;
    color: #e57066;
}
.footer-title span{
    margin-right: 1rem;
    font-size: 1.5rem;
}

.footer-content li{
    font-size: 2rem;
    color: #e57066 ;
}
.footer a, .footer-address p{
    color: white;
    line-height: 2.5rem;
    font-size: 1.7rem;
    font-weight: 500;
}



.footer-content a:hover{
    text-decoration: none;
    color: #9e3848;
}

.footer-copyright {
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #062743;
}